openapi: 3.2.0
info:
  title: Snippets Groups API
  description: Test description
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: contact@snippets.local
  license:
    name: BSD License
  version: v1
servers:
- url: https://574ea6n6tdopt2qigvs3hjzoha0nhhvj.lambda-url.us-west-2.on.aws/
security:
- Basic: []
tags:
- name: Groups
paths:
  /groups/:
    parameters: []
    get:
      operationId: groups_list
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
      tags:
      - Groups
      summary: Groups list
      x-summary-source: derived
    post:
      operationId: groups_create
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Groups create
      x-summary-source: derived
  /groups/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this group.
      required: true
      schema:
        type: integer
    get:
      operationId: groups_read
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Groups
      summary: Groups read
      x-summary-source: derived
    put:
      operationId: groups_update
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Groups update
      x-summary-source: derived
    patch:
      operationId: groups_partial_update
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Groups partial update
      x-summary-source: derived
    delete:
      operationId: groups_delete
      description: API endpoint that allows groups to be viewed or edited.
      responses:
        '204':
          description: ''
      tags:
      - Groups
      summary: Groups delete
      x-summary-source: derived
components:
  schemas:
    Group:
      required:
      - name
      type: object
      properties:
        url:
          title: Url
          type: string
          format: uri
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 150
          minLength: 1
  securitySchemes:
    Basic:
      type: http
      scheme: basic
