openapi: 3.2.0
info:
  title: Snippets Token API
  description: Test description
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: contact@snippets.local
  license:
    name: BSD License
  version: v1
servers:
- url: https://574ea6n6tdopt2qigvs3hjzoha0nhhvj.lambda-url.us-west-2.on.aws/
security:
- Basic: []
tags:
- name: Token
paths:
  /token/:
    parameters: []
    post:
      operationId: token_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CortTokenObtainPair'
      tags:
      - Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CortTokenObtainPair'
        required: true
      summary: Token create
      x-summary-source: derived
  /token/refresh/:
    parameters: []
    post:
      operationId: token_refresh_create
      description: 'Takes a refresh type JSON web token and returns an access type JSON web

        token if the refresh token is valid.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefresh'
      tags:
      - Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
        required: true
      summary: Token refresh create
      x-summary-source: derived
components:
  schemas:
    TokenRefresh:
      required:
      - refresh
      type: object
      properties:
        refresh:
          title: Refresh
          type: string
          minLength: 1
        access:
          title: Access
          type: string
          readOnly: true
          minLength: 1
    CortTokenObtainPair:
      required:
      - username
      - password
      type: object
      properties:
        username:
          title: Username
          type: string
          minLength: 1
        password:
          title: Password
          type: string
          minLength: 1
  securitySchemes:
    Basic:
      type: http
      scheme: basic
