openapi: 3.2.0
info:
  title: Snippets Account Usage API
  description: Test description
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: contact@snippets.local
  license:
    name: BSD License
  version: v1
servers:
- url: https://574ea6n6tdopt2qigvs3hjzoha0nhhvj.lambda-url.us-west-2.on.aws/
security:
- Basic: []
tags:
- name: Account Usage
paths:
  /account_usage/:
    parameters: []
    get:
      operationId: account_usage_list
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage list
      x-summary-source: derived
    post:
      operationId: account_usage_create
      description: ''
      responses:
        '201':
          description: ''
      tags:
      - Account Usage
      summary: Account usage create
      x-summary-source: derived
  /account_usage/get_account_usage/:
    parameters: []
    get:
      operationId: account_usage_get_account_usage
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage get account usage
      x-summary-source: derived
  /account_usage/get_filter_options/:
    parameters: []
    get:
      operationId: account_usage_get_filter_options
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage get filter options
      x-summary-source: derived
  /account_usage/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: account_usage_read
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage read
      x-summary-source: derived
    put:
      operationId: account_usage_update
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage update
      x-summary-source: derived
    patch:
      operationId: account_usage_partial_update
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Account Usage
      summary: Account usage partial update
      x-summary-source: derived
    delete:
      operationId: account_usage_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Account Usage
      summary: Account usage delete
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
