openapi: 3.2.0
info:
  title: Snippets Autocode API
  description: Test description
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: contact@snippets.local
  license:
    name: BSD License
  version: v1
servers:
- url: https://574ea6n6tdopt2qigvs3hjzoha0nhhvj.lambda-url.us-west-2.on.aws/
security:
- Basic: []
tags:
- name: autocode
paths:
  /autocode/:
    parameters: []
    get:
      operationId: autocode_list
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode list
      x-summary-source: derived
    post:
      operationId: autocode_create
      description: ''
      responses:
        '201':
          description: ''
      tags:
      - autocode
      summary: Autocode create
      x-summary-source: derived
  /autocode/CombineAutocodes/:
    parameters: []
    post:
      operationId: autocode_CombineAutocodes
      description: ''
      responses:
        '201':
          description: ''
      tags:
      - autocode
      summary: Autocode combine autocodes
      x-summary-source: derived
  /autocode/QueueReport/:
    parameters: []
    get:
      operationId: autocode_QueueReport
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode queue report
      x-summary-source: derived
  /autocode/Statistics/:
    parameters: []
    get:
      operationId: autocode_Statistics
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode statistics
      x-summary-source: derived
  /autocode/{sid}/:
    parameters:
    - name: sid
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: autocode_read
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode read
      x-summary-source: derived
    put:
      operationId: autocode_update
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode update
      x-summary-source: derived
    patch:
      operationId: autocode_partial_update
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode partial update
      x-summary-source: derived
    delete:
      operationId: autocode_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - autocode
      summary: Autocode delete
      x-summary-source: derived
  /autocode/{sid}/NeededAndBadPayoutSIDS/:
    parameters:
    - name: sid
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: autocode_NeededAndBadPayoutSIDS
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode needed and bad payout SIDS
      x-summary-source: derived
  /autocode/{sid}/NeededPayoutSIDS/:
    parameters:
    - name: sid
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: autocode_NeededPayoutSIDS
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode needed payout SIDS
      x-summary-source: derived
  /autocode/{sid}/SetAllComplete/:
    parameters:
    - name: sid
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: autocode_SetAllComplete
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - autocode
      summary: Autocode set all complete
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
