{"swagger": "2.0", "info": {"title": "Snippets API", "description": "Test description", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "contact@snippets.local"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "574ea6n6tdopt2qigvs3hjzoha0nhhvj.lambda-url.us-west-2.on.aws", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/account_usage/": {"get": {"operationId": "account_usage_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "post": {"operationId": "account_usage_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["account_usage"]}, "parameters": []}, "/account_usage/get_account_usage/": {"get": {"operationId": "account_usage_get_account_usage", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "parameters": []}, "/account_usage/get_filter_options/": {"get": {"operationId": "account_usage_get_filter_options", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "parameters": []}, "/account_usage/{id}/": {"get": {"operationId": "account_usage_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "put": {"operationId": "account_usage_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "patch": {"operationId": "account_usage_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["account_usage"]}, "delete": {"operationId": "account_usage_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["account_usage"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/accounts/": {"get": {"operationId": "accounts_list", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Account"}}}}, "tags": ["accounts"]}, "post": {"operationId": "accounts_create", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["accounts"]}, "parameters": []}, "/accounts/{account_sid}/files/": {"get": {"operationId": "accounts_files_list", "description": "An Endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/File"}}}}, "tags": ["accounts"]}, "post": {"operationId": "accounts_files_create", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/files/attach_files/": {"post": {"operationId": "accounts_files_attach_files", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/files/attachments/": {"get": {"operationId": "accounts_files_attachments", "description": "An Endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/File"}}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/files/batch/": {"post": {"operationId": "accounts_files_batch", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/files/reject_match/": {"post": {"operationId": "accounts_files_reject_match", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/files/{sid}/": {"get": {"operationId": "accounts_files_read", "description": "An Endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "put": {"operationId": "accounts_files_update", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "patch": {"operationId": "accounts_files_partial_update", "description": "An Endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "delete": {"operationId": "accounts_files_delete", "description": "An Endpoint for Files.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/files/{sid}/import-test-data/": {"get": {"operationId": "accounts_files_import_test_data", "description": "This endpoint is used by the import_test Django admin command to\nverify that an import has properly executed.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/files/{sid}/{part}/": {"get": {"operationId": "accounts_upload_part", "summary": "Return a presigned S3 POST for a single chunked-upload part.", "description": "The Pioneer SPA (client-external) uploads each chunk of a file as its own\nS3 object — accounts/{account_sid}/files/{file_sid}/{0,1,...} then an empty\n.../done marker — exactly as it does in prod, where cort's file_save_task\ninvokes the Tarer state machine on the `done` marker to stitch the parts\ninto the final file. This endpoint hands the SPA the per-part presign.\n\nLOCAL ONLY: prod/staging serve this path through console.sewerai.com;\ngate to settings.IS_LOCAL so no new prod endpoint is introduced. Auth is the\nviewset default (IsAuthenticated & IsSaiPermitted), satisfied by the X-SAI\ntoken in LocalStack e2e. The key layout mirrors File.file_path_within_bucket\n(settings.ACCOUNT_FILES_PREFIX + file.sid) so file_save_task's\n`accounts/(.*)/files/(.*)` split — and create_presigned_upload's\nLocalStack-aware, host-reachable signing — work unchanged.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}, {"name": "part", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/maps/": {"get": {"operationId": "accounts_maps_list", "description": "Project endpoint.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/GISMap"}}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/maps/{sid}/": {"get": {"operationId": "accounts_maps_read", "description": "Project endpoint.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GISMap"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/projects/": {"get": {"operationId": "accounts_projects_list", "description": "Project endpoint.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AccountProject"}}}}, "tags": ["accounts"]}, "post": {"operationId": "accounts_projects_create", "description": "Project endpoint.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountProject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/projects/{sid}/": {"get": {"operationId": "accounts_projects_read", "description": "Project endpoint.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "put": {"operationId": "accounts_projects_update", "description": "Project endpoint.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountProject"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "patch": {"operationId": "accounts_projects_partial_update", "description": "Project endpoint.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountProject"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "delete": {"operationId": "accounts_projects_delete", "description": "Project endpoint.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/projects/{sid}/add-canvotation-template/": {"post": {"operationId": "accounts_projects_add_canvotation_template", "description": "Project endpoint.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountProject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/projects/{sid}/remove-canvotation-template/": {"post": {"operationId": "accounts_projects_remove_canvotation_template", "description": "Project endpoint.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountProject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/projects/{sid}/sample-video/": {"get": {"operationId": "accounts_projects_sample_video", "description": "Project endpoint.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountProject"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/users/": {"get": {"operationId": "accounts_users_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["accounts"]}, "post": {"operationId": "accounts_users_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}]}, "/accounts/{account_sid}/users/{sid}/": {"get": {"operationId": "accounts_users_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["accounts"]}, "put": {"operationId": "accounts_users_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["accounts"]}, "patch": {"operationId": "accounts_users_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["accounts"]}, "delete": {"operationId": "accounts_users_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{account_sid}/users/{sid}/send-reminder/": {"post": {"operationId": "accounts_users_send_reminder", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["accounts"]}, "parameters": [{"name": "account_sid", "in": "path", "required": true, "type": "string"}, {"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{sid}/": {"get": {"operationId": "accounts_read", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["accounts"]}, "put": {"operationId": "accounts_update", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["accounts"]}, "patch": {"operationId": "accounts_partial_update", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["accounts"]}, "delete": {"operationId": "accounts_delete", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["accounts"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/accounts/{sid}/logo_upload_url/": {"get": {"operationId": "accounts_logo_upload_url", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["accounts"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/analytics/bbuser/": {"get": {"operationId": "analytics_bbuser_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/dashboards/": {"get": {"operationId": "analytics_dashboards_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AnalyticsDashboard"}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_dashboards_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/dashboards/{sid}/": {"get": {"operationId": "analytics_dashboards_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_dashboards_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_dashboards_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsDashboard"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_dashboards_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/analytics/downloadhistory/": {"get": {"operationId": "analytics_downloadhistory_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DownloadHistory"}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_downloadhistory_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DownloadHistory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DownloadHistory"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/downloadhistory/{sid}/": {"get": {"operationId": "analytics_downloadhistory_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DownloadHistory"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_downloadhistory_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DownloadHistory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DownloadHistory"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_downloadhistory_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DownloadHistory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DownloadHistory"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_downloadhistory_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/analytics/ete/": {"get": {"operationId": "analytics_ete_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ETETest"}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_ete_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ETETest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ETETest"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/ete/GetETEFilters/": {"get": {"operationId": "analytics_ete_GetETEFilters", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ETETest"}}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/ete/GetGraphs/": {"get": {"operationId": "analytics_ete_GetGraphs", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ETETest"}}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/ete/GetRuns/": {"get": {"operationId": "analytics_ete_GetRuns", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ETETest"}}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/ete/{sid}/": {"get": {"operationId": "analytics_ete_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ETETest"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_ete_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ETETest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ETETest"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_ete_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ETETest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ETETest"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_ete_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/analytics/framereview/": {"get": {"operationId": "analytics_framereview_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/FrameQualityReview"}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_framereview_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FrameQualityReview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FrameQualityReview"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/framereview/GetBadReviews/": {"get": {"operationId": "analytics_framereview_GetBadReviews", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/FrameQualityReview"}}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/framereview/GetSFTestResults/": {"get": {"operationId": "analytics_framereview_GetSFTestResults", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/FrameQualityReview"}}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/framereview/{sid}/": {"get": {"operationId": "analytics_framereview_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FrameQualityReview"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_framereview_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FrameQualityReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FrameQualityReview"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_framereview_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FrameQualityReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FrameQualityReview"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_framereview_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/annotations/": {"get": {"operationId": "annotations_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AIAnnotation"}}}}, "tags": ["annotations"]}, "post": {"operationId": "annotations_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AIAnnotation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AIAnnotation"}}}, "tags": ["annotations"]}, "parameters": []}, "/annotations/{sid}/": {"get": {"operationId": "annotations_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AIAnnotation"}}}, "tags": ["annotations"]}, "put": {"operationId": "annotations_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AIAnnotation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AIAnnotation"}}}, "tags": ["annotations"]}, "patch": {"operationId": "annotations_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AIAnnotation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AIAnnotation"}}}, "tags": ["annotations"]}, "delete": {"operationId": "annotations_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["annotations"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/api/schema/": {"get": {"operationId": "api_schema_list", "summary": "OpenApi3 schema for this API. Format can be selected via content negotiation.", "description": "- YAML: application/vnd.oai.openapi\n- JSON: application/vnd.oai.openapi+json", "parameters": [], "responses": {"200": {"description": ""}}, "produces": ["application/vnd.oai.openapi", "application/yaml", "application/vnd.oai.openapi+json", "application/json"], "tags": ["api"]}, "parameters": []}, "/api/schema/redoc/": {"get": {"operationId": "api_schema_redoc_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "produces": [], "tags": ["api"]}, "parameters": []}, "/api/schema/swagger/": {"get": {"operationId": "api_schema_swagger_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "produces": [], "tags": ["api"]}, "parameters": []}, "/autocode/": {"get": {"operationId": "autocode_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "post": {"operationId": "autocode_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["autocode"]}, "parameters": []}, "/autocode/CombineAutocodes/": {"post": {"operationId": "autocode_CombineAutocodes", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["autocode"]}, "parameters": []}, "/autocode/QueueReport/": {"get": {"operationId": "autocode_QueueReport", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "parameters": []}, "/autocode/Statistics/": {"get": {"operationId": "autocode_Statistics", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "parameters": []}, "/autocode/{sid}/": {"get": {"operationId": "autocode_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "put": {"operationId": "autocode_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "patch": {"operationId": "autocode_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "delete": {"operationId": "autocode_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["autocode"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/autocode/{sid}/NeededAndBadPayoutSIDS/": {"get": {"operationId": "autocode_NeededAndBadPayoutSIDS", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/autocode/{sid}/NeededPayoutSIDS/": {"get": {"operationId": "autocode_NeededPayoutSIDS", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/autocode/{sid}/SetAllComplete/": {"patch": {"operationId": "autocode_SetAllComplete", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["autocode"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/canvotation-templates/": {"get": {"operationId": "canvotation-templates_list", "summary": "Return a list of templates, ordered alphabetically within the\nfollowing groups:", "description": "- Project-related templates\n- Account-related templates\n- Global templates\n\nAdmins can see every template.", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"type": "string"}}}}}}, "tags": ["canvotation-templates"]}, "parameters": []}, "/canvotation-templates/{sid}/": {"get": {"operationId": "canvotation-templates_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "string"}}}, "tags": ["canvotation-templates"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/canvotation-templates/{sid}/add-to-project/": {"post": {"operationId": "canvotation-templates_add_to_project", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "string"}}], "responses": {"201": {"description": "", "schema": {"type": "string"}}}, "tags": ["canvotation-templates"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/comment/": {"get": {"operationId": "comment_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Comment"}}}}, "tags": ["comment"]}, "post": {"operationId": "comment_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Comment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Comment"}}}, "tags": ["comment"]}, "parameters": []}, "/comment/{sid}/": {"get": {"operationId": "comment_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Comment"}}}, "tags": ["comment"]}, "put": {"operationId": "comment_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Comment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Comment"}}}, "tags": ["comment"]}, "patch": {"operationId": "comment_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Comment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Comment"}}}, "tags": ["comment"]}, "delete": {"operationId": "comment_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["comment"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/core/SAIAnalytics/": {"post": {"operationId": "core_SAIAnalytics", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/StatFuncList/": {"get": {"operationId": "core_StatFuncList", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "parameters": []}, "/core/import_users/": {"get": {"operationId": "core_import_users", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "parameters": []}, "/core/notifications/": {"get": {"operationId": "core_notifications", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "parameters": []}, "/core/push_notification/": {"post": {"operationId": "core_push_notification", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/roi/": {"post": {"operationId": "core_roi", "description": "example body\n{\n    \"body\": {\n        \"projectScope\": \"\",\n        \"footPerShift\": 1500,\n        \"bidPrice\": \"2.00\",\n        \"theirCostPerFoot\": \"2.01\",\n        \"saiCostPerFoot\": \"1.26\",\n        \"shiftsSAI\": \"\",\n        \"theirShifts\": \"\",\n        \"email\": \"example@sewerai.com\",\n        \"savings\": \"\",\n        \"additionalProfit\": \"100000.00\"\n    }\n}", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/set_tos_accepted/": {"post": {"operationId": "core_set_tos_accepted", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/set_user_hotbuttons/": {"post": {"operationId": "core_set_user_hotbuttons", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/slack/": {"post": {"operationId": "core_slack", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/stats/": {"post": {"operationId": "core_stats", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/submit_jira_issue/": {"post": {"operationId": "core_submit_jira_issue", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/subscribe/": {"post": {"operationId": "core_subscribe", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/test_push/": {"get": {"operationId": "core_test_push", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "parameters": []}, "/core/user/": {"get": {"operationId": "core_user_read", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "patch": {"operationId": "core_user_partial_update", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["core"]}, "parameters": []}, "/core/users/": {"get": {"operationId": "core_users", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["core"]}, "parameters": []}, "/exports/": {"get": {"operationId": "exports_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Export"}}}}, "tags": ["exports"]}, "post": {"operationId": "exports_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Export"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Export"}}}, "tags": ["exports"]}, "parameters": []}, "/exports/SchemaOptions/": {"get": {"operationId": "exports_SchemaOptions", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Export"}}}}, "tags": ["exports"]}, "parameters": []}, "/exports/file-output-paths/": {"post": {"operationId": "exports_file_output_paths", "description": "Given an account SID and inspection header data,\nreturn the file naming format that will be used when exporting a video.\n\nExample inspection header data:\n{\n    \"Pipe_Segment_Reference\": \"01234 01235\",\n    \"Inspection_Date\": \"2020-12-24\",\n    \"Inspection_Time\": \"20:09\",\n    ...\n}", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Export"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Export"}}}, "tags": ["exports"]}, "parameters": []}, "/exports/{sid}/": {"get": {"operationId": "exports_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Export"}}}, "tags": ["exports"]}, "put": {"operationId": "exports_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Export"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Export"}}}, "tags": ["exports"]}, "patch": {"operationId": "exports_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Export"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Export"}}}, "tags": ["exports"]}, "delete": {"operationId": "exports_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["exports"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/files/": {"get": {"operationId": "files_list", "description": "An endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/File"}}}}, "tags": ["files"]}, "parameters": []}, "/files/FileOptions/": {"get": {"operationId": "files_FileOptions", "description": "An endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/File"}}}}, "tags": ["files"]}, "parameters": []}, "/files/{sid}/": {"get": {"operationId": "files_read", "description": "An endpoint for Files.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["files"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/files/{sid}/Import/": {"post": {"operationId": "files_Import", "description": "An endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["files"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/files/{sid}/Read/": {"post": {"operationId": "files_Read", "description": "An endpoint for Files.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/File"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/File"}}}, "tags": ["files"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/groups/": {"get": {"operationId": "groups_list", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Group"}}}}, "tags": ["groups"]}, "post": {"operationId": "groups_create", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["groups"]}, "parameters": []}, "/groups/{id}/": {"get": {"operationId": "groups_read", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["groups"]}, "put": {"operationId": "groups_update", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["groups"]}, "patch": {"operationId": "groups_partial_update", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["groups"]}, "delete": {"operationId": "groups_delete", "description": "API endpoint that allows groups to be viewed or edited.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["groups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this group.", "required": true, "type": "integer"}]}, "/labels/classifications/video/": {"get": {"operationId": "labels_classifications_video_list", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [{"name": "system", "in": "query", "description": "system", "required": false, "type": "string"}, {"name": "code", "in": "query", "description": "code", "required": false, "type": "string"}, {"name": "version", "in": "query", "description": "version", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/VideoObservationClassification"}}}}, "tags": ["labels"]}, "post": {"operationId": "labels_classifications_video_create", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationClassification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationClassification"}}}, "tags": ["labels"]}, "parameters": []}, "/labels/classifications/video/{sid}/": {"get": {"operationId": "labels_classifications_video_read", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationClassification"}}}, "tags": ["labels"]}, "put": {"operationId": "labels_classifications_video_update", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationClassification"}}}, "tags": ["labels"]}, "patch": {"operationId": "labels_classifications_video_partial_update", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationClassification"}}}, "tags": ["labels"]}, "delete": {"operationId": "labels_classifications_video_delete", "description": "API endpoint that allows Video Observation Classifications to be viewed\nand created.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["labels"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/labels/regressions/video/": {"get": {"operationId": "labels_regressions_video_list", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [{"name": "system", "in": "query", "description": "system", "required": false, "type": "string"}, {"name": "code", "in": "query", "description": "code", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/VideoObservationRegression"}}}}, "tags": ["labels"]}, "post": {"operationId": "labels_regressions_video_create", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationRegression"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationRegression"}}}, "tags": ["labels"]}, "parameters": []}, "/labels/regressions/video/{sid}/": {"get": {"operationId": "labels_regressions_video_read", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationRegression"}}}, "tags": ["labels"]}, "put": {"operationId": "labels_regressions_video_update", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationRegression"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationRegression"}}}, "tags": ["labels"]}, "patch": {"operationId": "labels_regressions_video_partial_update", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VideoObservationRegression"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/VideoObservationRegression"}}}, "tags": ["labels"]}, "delete": {"operationId": "labels_regressions_video_delete", "description": "API endpoint that allows Video Observation Regressions to be viewed and\ncreated.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["labels"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/bbinference/": {"get": {"operationId": "modeling_bbinference_list", "description": "Bounding Box Inference Assignment.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/BBInferenceAssignment"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_bbinference_create", "description": "Bounding Box Inference Assignment.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/bbinference/AutoBBModels/": {"get": {"operationId": "modeling_bbinference_AutoBBModels", "description": "Bounding Box Inference Assignment.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/BBInferenceAssignment"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/bbinference/MakeObsModel/": {"post": {"operationId": "modeling_bbinference_MakeObsModel", "description": "Bounding Box Inference Assignment.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/bbinference/ObsParams/": {"get": {"operationId": "modeling_bbinference_ObsParams", "description": "Bounding Box Inference Assignment.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/BBInferenceAssignment"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/bbinference/{sid}/": {"get": {"operationId": "modeling_bbinference_read", "description": "Bounding Box Inference Assignment.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_bbinference_update", "description": "Bounding Box Inference Assignment.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_bbinference_partial_update", "description": "Bounding Box Inference Assignment.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_bbinference_delete", "description": "Bounding Box Inference Assignment.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/bbinference/{sid}/MakeObs/": {"post": {"operationId": "modeling_bbinference_MakeObs", "description": "Bounding Box Inference Assignment.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BBInferenceAssignment"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/ensembles/": {"get": {"operationId": "modeling_ensembles_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ModelEnsemble"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_ensembles_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ModelEnsemble"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ModelEnsemble"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/ensembles/{sid}/": {"get": {"operationId": "modeling_ensembles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ModelEnsemble"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_ensembles_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ModelEnsemble"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ModelEnsemble"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_ensembles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ModelEnsemble"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ModelEnsemble"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_ensembles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/groups/": {"get": {"operationId": "modeling_groups_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ClassificationGroup"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_groups_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClassificationGroup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ClassificationGroup"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/groups/GetFastGroups/": {"get": {"operationId": "modeling_groups_GetFastGroups", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ClassificationGroup"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/groups/{sid}/": {"get": {"operationId": "modeling_groups_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClassificationGroup"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_groups_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClassificationGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClassificationGroup"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_groups_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClassificationGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClassificationGroup"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_groups_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/inference/": {"get": {"operationId": "modeling_inference_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/InferenceAssignment"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_inference_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InferenceAssignment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/InferenceAssignment"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/inference/{sid}/": {"get": {"operationId": "modeling_inference_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InferenceAssignment"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_inference_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InferenceAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InferenceAssignment"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_inference_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InferenceAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InferenceAssignment"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_inference_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/inference/{sid}/add_csv/": {"patch": {"operationId": "modeling_inference_add_csv", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InferenceAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InferenceAssignment"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/models/": {"get": {"operationId": "modeling_models_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/TrainingModel"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_models_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TrainingModel"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TrainingModel"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/models/GetModelNames/": {"get": {"operationId": "modeling_models_GetModelNames", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/TrainingModel"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/models/{sid}/": {"get": {"operationId": "modeling_models_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TrainingModel"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_models_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TrainingModel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TrainingModel"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_models_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TrainingModel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TrainingModel"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_models_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/models/{sid}/coco/": {"get": {"operationId": "modeling_models_coco", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TrainingModel"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/observationrun/": {"get": {"operationId": "modeling_observationrun_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_observationrun_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/AddRunsToGroup/": {"patch": {"operationId": "modeling_observationrun_AddRunsToGroup", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/CreateRunGroup/": {"post": {"operationId": "modeling_observationrun_CreateRunGroup", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/CreateTemplateRun/": {"post": {"operationId": "modeling_observationrun_CreateTemplateRun", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/DeleteRunsFromGroups/": {"patch": {"operationId": "modeling_observationrun_DeleteRunsFromGroups", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/GetFilters/": {"get": {"operationId": "modeling_observationrun_GetFilters", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/GetRunGroups/": {"get": {"operationId": "modeling_observationrun_GetRunGroups", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/GetRunNames/": {"get": {"operationId": "modeling_observationrun_GetRunNames", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/GetSourcePresets/": {"get": {"operationId": "modeling_observationrun_GetSourcePresets", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/MakeRunsFromTemplateGroup/": {"post": {"operationId": "modeling_observationrun_MakeRunsFromTemplateGroup", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/ReifyGroup/": {"get": {"operationId": "modeling_observationrun_ReifyGroup", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationRun"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/observationrun/{sid}/": {"get": {"operationId": "modeling_observationrun_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_observationrun_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_observationrun_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ObservationRun"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_observationrun_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/observationrun/{sid}/GetGraph/": {"get": {"operationId": "modeling_observationrun_GetGraph", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/observationrun/{sid}/Reify/": {"get": {"operationId": "modeling_observationrun_Reify", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/observationrun/{sid}/RunObsRun/": {"get": {"operationId": "modeling_observationrun_RunObsRun", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationRun"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/pobs/": {"get": {"operationId": "modeling_pobs_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_pobs_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/pobs/GetIntervalReview/": {"get": {"operationId": "modeling_pobs_GetIntervalReview", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/pobs/{sid}/": {"get": {"operationId": "modeling_pobs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_pobs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_pobs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_pobs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/pobs/{sid}/ReviewInterval/": {"post": {"operationId": "modeling_pobs_ReviewInterval", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProvisionalObservationClassification"}}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/reginference/": {"get": {"operationId": "modeling_reginference_list", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_reginference_create", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/reginference/{sid}/": {"get": {"operationId": "modeling_reginference_read", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_reginference_update", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_reginference_partial_update", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_reginference_delete", "description": "Regression Inference Assignment.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/regmodels/": {"get": {"operationId": "modeling_regmodels_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/RegressionModel"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_regmodels_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RegressionModel"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/RegressionModel"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/regmodels/{sid}/": {"get": {"operationId": "modeling_regmodels_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RegressionModel"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_regmodels_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RegressionModel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RegressionModel"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_regmodels_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RegressionModel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RegressionModel"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_regmodels_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/modeling/testobservation/": {"get": {"operationId": "modeling_testobservation_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/TestObservationClassification"}}}}, "tags": ["modeling"]}, "post": {"operationId": "modeling_testobservation_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TestObservationClassification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TestObservationClassification"}}}, "tags": ["modeling"]}, "parameters": []}, "/modeling/testobservation/{sid}/": {"get": {"operationId": "modeling_testobservation_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TestObservationClassification"}}}, "tags": ["modeling"]}, "put": {"operationId": "modeling_testobservation_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TestObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TestObservationClassification"}}}, "tags": ["modeling"]}, "patch": {"operationId": "modeling_testobservation_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TestObservationClassification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TestObservationClassification"}}}, "tags": ["modeling"]}, "delete": {"operationId": "modeling_testobservation_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["modeling"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string", "format": "uuid"}]}, "/note/": {"get": {"operationId": "note_list", "description": "Read IsSaiPermittedPatch definition.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Note"}}}}, "tags": ["note"]}, "post": {"operationId": "note_create", "description": "Read IsSaiPermittedPatch definition.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Note"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Note"}}}, "tags": ["note"]}, "parameters": []}, "/note/get_filter_options/": {"get": {"operationId": "note_get_filter_options", "description": "Read IsSaiPermittedPatch definition.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Note"}}}}, "tags": ["note"]}, "parameters": []}, "/note/get_taggable_users/": {"get": {"operationId": "note_get_taggable_users", "description": "Read IsSaiPermittedPatch definition.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Note"}}}}, "tags": ["note"]}, "parameters": []}, "/note/{sid}/": {"get": {"operationId": "note_read", "description": "Read IsSaiPermittedPatch definition.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Note"}}}, "tags": ["note"]}, "put": {"operationId": "note_update", "description": "Read IsSaiPermittedPatch definition.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Note"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Note"}}}, "tags": ["note"]}, "patch": {"operationId": "note_partial_update", "description": "Read IsSaiPermittedPatch definition.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Note"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Note"}}}, "tags": ["note"]}, "delete": {"operationId": "note_delete", "description": "Read IsSaiPermittedPatch definition.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["note"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/notification-preferences/": {"get": {"operationId": "notification-preferences_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/NotificationPreference"}}}}, "tags": ["notification-preferences"]}, "post": {"operationId": "notification-preferences_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationPreference"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "parameters": []}, "/notification-preferences/create-by-category/": {"post": {"operationId": "notification-preferences_create_by_category", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationPreference"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "parameters": []}, "/notification-preferences/delete-by-category/": {"post": {"operationId": "notification-preferences_destroy_by_category", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationPreference"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "parameters": []}, "/notification-preferences/{sid}/": {"get": {"operationId": "notification-preferences_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "put": {"operationId": "notification-preferences_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationPreference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "patch": {"operationId": "notification-preferences_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationPreference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/NotificationPreference"}}}, "tags": ["notification-preferences"]}, "delete": {"operationId": "notification-preferences_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["notification-preferences"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/notifications/": {"get": {"operationId": "notifications_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notification"}}}}, "tags": ["notifications"]}, "post": {"operationId": "notifications_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/mark-all-read/": {"post": {"operationId": "notifications_mark_all_read", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notification"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/reference/": {"get": {"operationId": "notifications_reference", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notification"}}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/{sid}/": {"get": {"operationId": "notifications_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "tags": ["notifications"]}, "put": {"operationId": "notifications_update", "description": "Ensure that only the _read_ field is updatable.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "tags": ["notifications"]}, "patch": {"operationId": "notifications_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notification"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "tags": ["notifications"]}, "delete": {"operationId": "notifications_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["notifications"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/observationclassifications/": {"get": {"operationId": "observationclassifications_list", "description": "", "parameters": [{"name": "sid", "in": "query", "description": "sid", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationClassificationAnalytics"}}}}, "tags": ["observationclassifications"]}, "parameters": []}, "/observationclassifications/get_stats/": {"get": {"operationId": "observationclassifications_get_stats", "description": "", "parameters": [{"name": "sid", "in": "query", "description": "sid", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ObservationClassificationAnalytics"}}}}, "tags": ["observationclassifications"]}, "parameters": []}, "/observationclassifications/{id}/": {"get": {"operationId": "observationclassifications_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ObservationClassificationAnalytics"}}}, "tags": ["observationclassifications"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Customer Observation Classification.", "required": true, "type": "integer"}]}, "/profiles/": {"get": {"operationId": "profiles_list", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Profile"}}}}, "tags": ["profiles"]}, "post": {"operationId": "profiles_create", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Profile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "tags": ["profiles"]}, "parameters": []}, "/profiles/{sid}/": {"get": {"operationId": "profiles_read", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "tags": ["profiles"]}, "put": {"operationId": "profiles_update", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Profile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "tags": ["profiles"]}, "patch": {"operationId": "profiles_partial_update", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Profile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "tags": ["profiles"]}, "delete": {"operationId": "profiles_delete", "description": "API endpoint that allows users to be viewed or edited.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["profiles"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/project_tasks/": {"get": {"operationId": "project_tasks_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProjectTask"}}}}, "tags": ["project_tasks"]}, "post": {"operationId": "project_tasks_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProjectTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "parameters": []}, "/project_tasks/GetUserTasks/": {"get": {"operationId": "project_tasks_GetUserTasks", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProjectTask"}}}}, "tags": ["project_tasks"]}, "parameters": []}, "/project_tasks/{sid}/": {"get": {"operationId": "project_tasks_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "put": {"operationId": "project_tasks_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProjectTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "patch": {"operationId": "project_tasks_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProjectTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "delete": {"operationId": "project_tasks_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["project_tasks"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/project_tasks/{sid}/GetSubtask/": {"get": {"operationId": "project_tasks_GetSubtask", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/project_tasks/{sid}/SubmitSubtask/": {"post": {"operationId": "project_tasks_SubmitSubtask", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProjectTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProjectTask"}}}, "tags": ["project_tasks"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/saitests/get_tests/": {"get": {"operationId": "saitests_get_tests", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["saitests"]}, "parameters": []}, "/schemas/get_condition_schema/": {"get": {"operationId": "schemas_get_condition_schema", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["schemas"]}, "parameters": []}, "/schemas/get_header_fields/": {"get": {"operationId": "schemas_get_header_fields", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["schemas"]}, "parameters": []}, "/submittal/": {"get": {"operationId": "submittal_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Submittal"}}}}, "tags": ["submittal"]}, "post": {"operationId": "submittal_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Submittal"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Submittal"}}}, "tags": ["submittal"]}, "parameters": []}, "/submittal/{sid}/": {"get": {"operationId": "submittal_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Submittal"}}}, "tags": ["submittal"]}, "put": {"operationId": "submittal_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Submittal"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Submittal"}}}, "tags": ["submittal"]}, "patch": {"operationId": "submittal_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Submittal"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Submittal"}}}, "tags": ["submittal"]}, "delete": {"operationId": "submittal_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["submittal"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/submittal/{sid}/send-reminder/": {"post": {"operationId": "submittal_send_reminder", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Submittal"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Submittal"}}}, "tags": ["submittal"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/token/": {"post": {"operationId": "token_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CortTokenObtainPair"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CortTokenObtainPair"}}}, "tags": ["token"]}, "parameters": []}, "/token/refresh/": {"post": {"operationId": "token_refresh_create", "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenRefresh"}}}, "tags": ["token"]}, "parameters": []}, "/users/": {"get": {"operationId": "users_list", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "post": {"operationId": "users_create", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/change_email/": {"post": {"operationId": "users_change_email", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/get_current/": {"get": {"operationId": "users_get_current", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/get_metabase_url/": {"get": {"operationId": "users_get_metabase_url", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/import_users/": {"get": {"operationId": "users_import_users", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/labelers/": {"get": {"operationId": "users_labelers", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/my_permissions/": {"get": {"operationId": "users_my_permissions", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/notifications/": {"get": {"operationId": "users_notifications", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/push_notification/": {"post": {"operationId": "users_push_notification", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/reset_password/": {"post": {"operationId": "users_reset_password", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/set_tos_accepted/": {"post": {"operationId": "users_set_tos_accepted", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/set_user_hotbuttons/": {"post": {"operationId": "users_set_user_hotbuttons", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/stats/": {"post": {"operationId": "users_stats", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/submit_jira_issue/": {"post": {"operationId": "users_submit_jira_issue", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/subscribe/": {"post": {"operationId": "users_subscribe", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/test_push/": {"get": {"operationId": "users_test_push", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["users"]}, "parameters": []}, "/users/update_current/": {"patch": {"operationId": "users_update_current", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "parameters": []}, "/users/{id}/": {"get": {"operationId": "users_read", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "put": {"operationId": "users_update", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "patch": {"operationId": "users_partial_update", "description": "API endpoint that returns user data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["users"]}, "delete": {"operationId": "users_delete", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["users"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/users/{id}/labeler_stats/": {"get": {"operationId": "users_labeler_stats", "description": "API endpoint that returns user data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definiti
[...]
